body.basket {

  main {
    padding-top: 130px;
  }

  .basket__table {
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 2px;
    box-shadow: $box-shadow;

    & > *:not(:last-of-type) {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 0.5px solid rgb(0 0 0 / 10%);
    }

    .basket__total {
      display: flex;
      justify-content: space-between;

      .total__checkout {

      }

      .total__price {

        span {
          border-bottom: 1px solid;
          font-size: 1.1rem;
        }
      }
    }

    .table__product {
      @include flexBetweenRow;

      & > * {
        flex: 0 0 24%;
      }

      .product__count {
        display: flex;
        justify-content: center;

        .count__numb {}

        .count__btn {
          @include flexCenterRow;
          border: 1px solid;
          width: 20px;
          height: 20px;
          border-radius: 2px;
          margin: 0 3px;

          &:hover {
            background: black;

            button {
              color: white;
            }
          }

          button {
            background: transparent;
            width: 100%;
            line-height: 1;
          }
        }
      }

      .product__price {
        text-align: right;
      }

      .product__img {
          img {
              width: 100px;
              height: 100px;
          }
      }
    }
  }
}
