body.products-categories {
  main {
    padding-top: 100px;
  }
}

.products-categories {

  .prod-cat__item {
    padding-bottom: 30px;

    .prod-cat__body {
      @include flexCenterCol;

      .prod-cat__images {
        height: 150px;
      }

      .prod-cat__title {
        margin: 15px 0;
      }
    }
  }
}