form.form {
  @include flexBetweenCol;

  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 10%);
  min-width: 420px;

  & > * {
    width: 100%;
  }

  & > *:not(h2) {
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  & > button {
    margin: 0;
  }

  & > input:not([type=file]), & > textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  h2 {
    text-align: center;
  }
}