body.single-product {
  main {
    padding-top: 100px;
  }
}

.single-product {

  .product__gallery {

    .product__img {
      width: 100%;
    }
  }

  .product__desc {
    justify-content: flex-start;
    align-items: flex-start;

    & > * {
      margin-bottom: 20px;
      display: block;
      text-align: left;
    }

    .form__add-to-card {

      .add-to-card {
        background: white;
        border: 1px solid;
        padding: 5px 15px;
        border-radius: 2px;

        &:hover {
          color: white;
          background: black;
        }
      }
    }
  }
}