body.single-product {
  main {
    padding-top: 100px;
  }
}

.single-product {

  .product__gallery {

    .product__img {
      width: 100%;
    }
  }

  .product__desc {
    justify-content: flex-start;
    align-items: flex-start;

    & > * {
      margin-bottom: 20px;
      display: block;
    }
  }
}