@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@font-face {
  font-family: 'Capita';
  src: url('../fonts/Capita-L.woff') format('woff'),
       url('../fonts/Capita-L.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Capita';
  src: url('../fonts/Capita-M.woff') format('woff'),
       url('../fonts/Capita-M.woff2') format('woff2');
  font-weight: 400;
}