@mixin flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  @content
}

@mixin flexBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  @content
}

@mixin flexStretchRow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  @content
}

@mixin flexCenterCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @content
}

@mixin flexBetweenCol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @content
}

@mixin bgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @content
}

@mixin img {
  width: 100%;
  height: auto;
  object-fit: contain;
  @content
}