footer {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #161616;

  #footer {
    padding: 10px;
    width: 100%;

    .footer__logo {
      font-family: 'Redressed', cursive;
      font-size: 25px;
      color: #fff;
    }
  }
}