header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: saturate(180%) blur(20px);

  #header {
    @include flexBetweenRow;

    .header__logo {
      font-family: 'Redressed', cursive;
      font-size: 25px;
    }

    .header__nav {

      .nav__list {
        display: flex;

        .nav__item {
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid;
          }

          &.active {
            border-bottom: 1px solid;
          }
        }

        .nav__item:not(:last-of-type) {
          margin-right: 25px;
        }
      }
    }
  }
}
