body {
  @include flexBetweenCol;
  min-height: 100vh;
  font-family: 'Capita', sans-serif;

  & > * {
    width: 100%;
  }
}

body:not(.single-product) {
  .products__list {

    .product__item {
      padding-bottom: 30px;

      .product__desc {
        @include flexCenterCol;
        border: 1px solid rgba(0,0,0,0.2);
        margin-top: -5px;

        .product__title {
          font-size: 1.1rem;
        }

        & > * {
          display: block;
          text-align: center;
          margin: 10px 0;
          font-weight: 400;
        }
      }
    }
  }
}

body:not(.home) {
  main {
    padding-top: 100px;
  }
}

.alert {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  max-width: 500px;
  animation: fadeIn 500ms ease;
  -webkit-animation: fadeIn 500ms ease;
  z-index: 100;

  &.success {
    .alert-body {
      background: #81c784;
    }
  }

  &.warning {
    .alert-body {
      background: #ef5350;
    }
  }

  .alert-body {
    text-align: center;
    padding: 10px 20px;
    border: 1px solid;

    p {
      margin-bottom: 0;
      text-shadow: 0 0 black;
    }
  }
}